{
	"useTabs": true,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "none",
	"bracketSameLine": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./src/routes/layout.css",
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
