/* -------------------------------- Component ------------------------------- */
.stack-box {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'stack-item';

	> * {
		grid-area: stack-item;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
	}
}

/* .stack-box > * {
	pointer-events: none;
	z-index: -1;
	opacity: 0;
	transform: translateY(100%);
	transition:
		opacity 400ms ease-out 200ms,
		transform 400ms ease-out 0ms;
}

.stack-box > *.active {
	pointer-events: all;
	opacity: 1;
	transform: translateY(0);
	transition:
		opacity 300ms cubic-bezier(0.82, 0.21, 0.15, 0.88) 100ms,
		transform 400ms ease-in;
	z-index: 1;
} */

.main {
	flex: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	display: grid;
}

.main {
	display: grid;
	grid-template-columns: 1fr min-content;
	grid-template-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: row;
	grid-template-areas: 'page aside';
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;

	.page {
		grid-area: page;
		width: 100%;
		height: 100%;
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.aside {
		grid-area: aside;
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

.page {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	display: flex;
	flex-direction: column;

	> article {
		width: 100%;
		max-width: var(--page-width, 940px);
		margin-left: auto;
		margin-right: auto;
		padding: var(--spacing-clamp, 1rem);
	}
}

.page.center {
	justify-content: center;
	align-items: center;

	> article {
		text-align: center;
	}
}

.page > article {
	width: 100%;
	max-width: var(--page-width, 940px);
	margin-left: auto;
	margin-right: auto;
	padding: var(--spacing-clamp, 1rem);
}
