@theme {
	/* Colors */
	--color-ui-red: oklch(53.352% 0.2071 30.17);
	--color-ui-brown: oklch(37.614% 0.0533 36.656);
	--color-ui-amber: oklch(84.994% 0.17239 86.33);
	--color-ui-white: oklch(92.845% 0.0234 69.503);
	--color-ui-black: oklch(21.779% 0.00002 271.152);

	/* Auto-Assigned Text Colors */
	--color-ui-red-content: oklch(0.9357 0.0324 24.79);
	--color-ui-brown-content: oklch(0.9242 0.0259 84.59);
	--color-ui-amber-content: oklch(0.299 0.0727 56.53);
	--color-ui-white-content: oklch(21.779% 0.00002 271.152);
	--color-ui-black-content: oklch(92.845% 0.0234 69.503);
}

:root {
	--btn-border-color: oklch(0 0 0 / 10%);
	--btn-bg-color: oklch(1 0 0);
	--btn-shadow-color: oklch(0 0 0 / 2%);
	--btn-color: oklch(0 0 0 / 85%);

	--btn-border-color-hover: oklch(0 0 0 / 15%);
	--btn-shadow-color-hover: oklch(0 0 0 / 10%);
	--btn-color-hover: oklch(0 0 0 / 65%);

	--btn-border-color-active: oklch(0 0 0 / 15%);
	--btn-shadow-color-active: oklch(0 0 0 / 6%);
	--btn-bg-color-active: oklch(0.9554 0.0013 286.37);
	--btn-color-active: oklch(0 0 0 / 62%);

	--col-red: oklch(53.352% 0.2071 30.17);
	--col-brown: oklch(37.614% 0.0533 36.656);
	--col-amber: oklch(84.994% 0.17239 86.33);
	--col-white: oklch(92.845% 0.0234 69.503);
	--col-black: oklch(21.779% 0.00002 271.152);

	--color-gb: oklch(74.972% 0.12398 136.837);
	--color-gb-primary: oklch(47.55% 0.06374 168.895);
	--color-gb-dark: oklch(19.921% 0.0271 231.916);
	--color-gb-content: oklch(47.55% 0.06374 168.895);
	--color-gb-primary-content: oklch(74.972% 0.12398 136.837);
	--color-gb-dark-content: oklch(47.55% 0.06374 168.895);

	--color-gb-darkest: #081820;
	/* Auto-Assigned Text Colors */
	--col-red-txt: oklch(0.9357 0.0324 24.79);
	--col-brown-txt: oklch(0.9242 0.0259 84.59);
	--col-amber-txt: oklch(0.299 0.0727 56.53);
	--col-white-txt: oklch(21.779% 0.00002 271.152);
	--col-black-txt: oklch(92.845% 0.0234 69.503);
}

.btn {
	align-items: center;
	cursor: pointer;
	display: inline-flex;
	font-family:
		system-ui,
		-apple-system,
		system-ui,
		'Helvetica Neue',
		Helvetica,
		Arial,
		sans-serif;
	font-size: 1rem;
	font-weight: 600;
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	min-height: 3rem;
	padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
	position: relative;
	text-decoration: none;
	transition: all 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: center;
	width: auto;
	transition: all 0.1s ease;
	border-radius: var(--spacing);

	background-color: var(--btn-bg-color);
	border: 1px solid var(--btn-border-color);
	box-shadow: var(--btn-shadow-color) 0 1px 3px 0;
	color: var(--btn-color);
	box-sizing: border-box;

	&:hover,
	&:focus {
		border-color: var(--btn-border-color-hover);
		box-shadow: var(--btn-shadow-color-hover) 0 4px 12px;
		color: var(--btn-color-hover);
	}

	&:active {
		background-color: var(--btn-bg-color-active);
		border-color: var(--btn-color-active);
		box-shadow: var(--btn-shadow-color-active) 0 2px 4px;
		color: var(--btn-color-active);
	}

	&:hover {
		transform: translateY(-1px);
	}

	&:active {
		opacity: 0.9;
		transform: translateY(0);
	}

	&[disabled],
	&.btn-disabled {
		background-color: var(--btn-bg-color);
		border: none;
		box-shadow: none;
		color: var(--btn-color);
		opacity: 0.5;
		cursor: default;
		pointer-events: none;
	}
}

@utility btn-red {
	background-color: var(--col-red);
	color: var(--col-red-txt);
	box-shadow: var(--btn-shadow-color) 0 1px 3px 0;
}

@utility btn-amber {
	background-color: var(--col-amber);
	color: var(--col-amber-txt);
	box-shadow: var(--btn-shadow-color) 0 1px 3px 0;
}

@utility btn-black {
	background-color: var(--col-black);
	color: var(--col-black-txt);
	box-shadow: var(--btn-shadow-color) 0 1px 3px 0;
}

@utility btn-white {
	background-color: var(--col-white);
	color: var(--col-white-txt);
	box-shadow: var(--btn-shadow-color) 0 1px 3px 0;
}
