.img-grid {
	--min: 68px;
	--gap: 0.5rem;
	display: grid;
	grid-gap: var(--gap);
	grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.img-grid figure {
	display: grid;
	place-content: center;
	aspect-ratio: 1/1;
	border: 1px dashed red;
}

svg.icon,
svg.nwp-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

svg.icon,
svg.nwp-icon {
	font-size: var(--fs, 24px);
}

svg.icon-lg {
	--fs: 32px;
}

svg.icon-xl {
	--fs: 48px;
}

svg.icon-sm {
	--fs: 20px;
}

svg.icon-xs {
	--fs: 16px;
}

.padded {
	padding: var(--spacing-clamp);
}

.padded-flat {
	padding: 0 var(--spacing-clamp);
}

.padded-small {
	padding: calc(var(--spacing-clamp) * 0.5);
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
