@theme {
	--spacing: 0.25rem;

	/* Colors */
	--color-ui-red: oklch(53.352% 0.2071 30.17);
	--color-ui-brown: oklch(37.614% 0.0533 36.656);
	--color-ui-amber: oklch(84.994% 0.17239 86.33);
	--color-ui-white: oklch(92.845% 0.0234 69.503);
	--color-ui-black: oklch(21.779% 0.00002 271.152);

	/* Auto-Assigned Text Colors */
	--color-ui-red-content: white;
	--color-ui-brown-content: white;
	--color-ui-amber-content: black;
	--color-ui-white-content: black;
	--color-ui-black-content: white;

	--gb-color-light: #88c070;
	--gb-color-dark: #346856;
	--gb-color-darkest: #081820;
}
