:root {
	--spacing-base-define: 1rem;
	--page-width-define: 780px;
	--page-width-sm-define: 360px;
	--spacing-base: var(--spacing-base-define);
	--spacing-xs: calc(var(--spacing-base) * 0.25);
	--spacing-sm: calc(var(--spacing-base) * 0.5);
	--spacing-md: calc(var(--spacing-base) * 0.75);
	--spacing-lg: calc(var(--spacing-base) * 1.5);
	--spacing-xl: calc(var(--spacing-base) * 2);
	--spacing-clamp: clamp(
		var(--spacing-sm),
		var(--spacing-base),
		var(--spacing-base)
	);
	--spacing-clamp-sm: clamp(
		var(--spacing-xs),
		var(--spacing-sm),
		var(--spacing-sm)
	);
	--content-space: var(--spacing-base);
	--page-space: var(--content-space);
	--page-width: var(--page-width-define);
}

body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-family: 'Fira Code', monospace;
}

.main {
	flex: 1;
	display: grid;
	grid-template-columns: 1fr min-content;
	grid-template-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-auto-flow: row;
	grid-template-areas: 'page aside';
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.page {
	grid-area: page;
	width: 100%;
	height: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;

	> article {
		padding: var(--spacing-clamp);
		width: 100%;
		max-width: var(--page-width);
		margin-left: auto;
		margin-right: auto;
	}
}

.page-fixed {
	overflow: hidden;
}

.aside {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-auto-flow: row;
	grid-template-areas: 'panel';
	grid-area: aside;
	/* width: var(--gb-aside-w, auto); */
	height: 100%;
	transition: all 0.8s ease-in-out;
	position: relative;

	> * {
		grid-area: panel;
	}
}

.panel {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
}

@keyframes circle-in-center {
	from {
		clip-path: circle(0%);
	}
	to {
		clip-path: circle(125%);
	}
}
.page.center {
	align-items: center;
	justify-content: center;
}
.page.nwp {
	animation: 2.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-center both;
	animation-delay: 250ms;
}
